.auth-input{
    padding: 11px 20px;
    width: 100%;
    background-color: #fff;
    border:1px solid #e1e1e1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}
.auth-input::placeholder{
    color: #667085;
}
.auth-input:focus{
    outline: none;
}
.auth--form label{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 12px;
    color: #1f1f1f;
}

  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
    color: #667085;
    padding-left: 8px;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #E1E1E1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 6px;
    left: -8px;
  }
  .form-group input:checked + label:before{
    background-color: #60E5AE;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }